body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

}
.screens {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.designScreen1 {
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}
.designScreen2 {
    background-color: red;

    height: 100vh;
    width: 100vw;
}
.designScreen3 {
    background-color: violet;

    height: 100vh;
    width: 100vw;
}
.designScreen4 {
    background-color: blueviolet;

    height: 100vh;
    width: 100vw;
}