body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

}
.screens {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.designScreen1 {
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}
.designScreen2 {
    background-image: linear-gradient(to bottom, gray, turquoise);

    height: 100vh;
    width: 100vw;
}
.designScreen3 {
    background-color: violet;

    height: 100vh;
    width: 100vw;
}
.designScreen4 {
    background-color: blueviolet;

    height: 100vh;
    width: 100vw;
}
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.personajes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50em;
    width: 80em;
    flex-direction: column;
}
.imagenes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30em;
    width: 80em;
}
.superior {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    width: 80em;
}
.contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 20em;
    width: 80em;
}
.cara {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20em;
    width: 12em;
}
.p1mensaje {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 6em;
    width: 80em;
}

.selected {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.pokemonChosen {
    width: 60em;
    height: 16em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dataPokemon {
    font-size: 3em;
}
